<h4>Application Form</h4
  <form method="post">
    <div class="mb-2">
      <label>Full Name</label><br>
      <input type ="text" name="full_name" placeholder="Kate Cross">   
    </div>
    <div class = "mb-2">
      <label>email</label><br>
      <input type="text" name = "email" placeholder = "kate@email.com">
    </div>
    <div class="mb-2">
      <label>Linkedin_URL</label><br>
      <input type ="text" name="linkedin" placeholder="https://linkedin.com/in/katec">   
    </div>
    <div class="mb-2">
      <label>Github_URL</label><br>
      <input type ="text" name="github" placeholder="https://github.com/katec">   
    </div>
    <div class="mb-2">
      <label>Education</label><br>
      <textarea name="education"></textarea>   
    </div>
    <div class="mb-2">
      <label>Work Experience</label><br>
      <textarea name="work_experience"></textarea>   
    </div>
    <div class="mb-2">
      <label>Resume_URL</label><br>
      <input type ="text" name="resume">   
    </div>
    

    <div class= "mb-2">
      <input type="submit" name="submit">
    </div>
    


    
  </form>